---
layout: layouts/base.njk
title: Prism.js
---
<pre><code class="language-js">const greet = (name) => {
  console.log(`Hello, ${name}!`);
};

greet('world');
</code></pre>

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/prismjs/themes/prism.min.css">
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/prismjs/prism.js"></script>
<script src="https://unpkg.com/prismjs/components/prism-javascript.min.js"></script>
{% endblock %}
