---
layout: layouts/base.njk
title: Reading Time
---
<p>Compute an estimated reading time for this content.</p>
<article id="text" style="max-width:70ch">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non ornare mi. Integer dictum, eros non hendrerit facilisis, sapien urna venenatis risus, a vehicula arcu lectus eget nibh.</p>
  <p>Donec lobortis placerat nibh, vitae tincidunt purus cursus in. Quisque ultrices mauris vitae diam efficitur, eget varius lectus bibendum.</p>
</article>
<p><strong id="result"></strong></p>

{% block scripts %}
<script type="module">
  import readingTime from 'https://cdn.skypack.dev/reading-time@1.5.0';
  const stats = readingTime(document.getElementById('text').innerText);
  document.getElementById('result').textContent = stats.text;
</script>
{% endblock %}
