---
layout: layouts/base.njk
title: Tufte CSS
---
<article>
  <h2>Tufte CSS</h2>
  <p>Here is a sidenote<span class="sidenote-number"></span><span class="sidenote">This is a Tufte-style sidenote.</span> within a paragraph using Tufte CSS.</p>
</article>

{% block head %}
<link rel="stylesheet" href="https://edwardtufte.github.io/tufte-css/tufte.min.css">
{% endblock %}
