<section id="demo-littlefoot">
  <h3>Littlefoot (Footnotes)</h3>
  <p>Inline footnotes rendered as popovers.<sup data-footnote-id="lf1">1</sup></p>
  <div id="lf1" class="sr-only">This footnote is displayed as a popover.</div>
  <link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css">
  <script src="https://unpkg.com/littlefoot/dist/littlefoot.js"></script>
  <script>window.littlefoot && window.littlefoot();</script>
</section>
