<section id="demo-prism">
  <h3>Prism.js</h3>
  <link rel="stylesheet" href="https://unpkg.com/prismjs@1.29.0/themes/prism.min.css">
  <script src="https://unpkg.com/prismjs@1.29.0/prism.js"></script>
  <pre><code class="language-js">const msg = 'Hello JAMstack';
console.log(msg);
</code></pre>
</section>
