<section id="demo-reading-time">
  <h3>Reading Time</h3>
  <article id="rt-article" class="prose">The JAMstack encourages performance and simplicity. Estimating reading time helps set user expectations.</article>
  <p class="muted">Estimated reading time: <span id="rt"></span></p>
</section>
