<section id="demo-tufte">
  <h3>Tufte CSS</h3>
  <p class="prose">Sidenotes styled in the spirit of Edward Tufte.<span class="sidenote-number"></span><span class="sidenote">Minimal, data-rich typography.</span></p>
  <link rel="stylesheet" href="https://unpkg.com/tufte-css@1.8.0/tufte.min.css">
</section>
